<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-gray-100">
    <%- include('partials/navbar', { page: 'error' }) %>


    <!-- 404 Section -->
    <div class="container mx-auto px-4 py-8">
        <div class="hero bg-base-200 rounded-lg shadow-xl">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Error</h1>
                    <p class="py-6">
                        <%= message %>
                    </p>
                    <a href="/" class="btn btn-primary">Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
