<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">Lego Collection</span>
                        </a>
                    </div>

                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Home</a>
                        <a href="/about" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">About</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    
    <!-- 404 Section -->
    <div class="container mx-auto px-4 py-8 text-center">
        <div class="hero bg-base-200 rounded-lg shadow-xl">
            <div class="hero-content">
                <div class="max-w-md">
                    <h1 class="text-6xl font-bold mb-8">Error</h1>
                    <p class="text-2xl mb-8">The page you're looking for couldn't be found.</p>
                    <a href="/" class="btn btn-primary">Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
