<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">Lego Collection</span>
                        </a>
                    </div>

                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Home</a>
                        <a href="/about" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold ">About</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    
    <!-- About Section -->
    <div class="container mx-auto px-4 py-8">
        <div class="hero bg-base-200 rounded-lg shadow-xl">
            <div class="hero-content flex-col lg:flex-row">
                <div>
                    <h1 class="text-5xl font-bold">About Us</h1>
                    <p class="py-6">
                        Welcome to the Lego Collection site. This is the right place for Lego enthusiasts who can explore and discover 
                        sets from various themes. Learn more about our past, including the built collections, and the grown communities. 
                        Our goal is to bring people together through the joy of Lego by sharing creativity and innovation in every set.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>