<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">Lego Collection</span>
                        </a>
                    </div>

                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Home</a>
                        <a href="/about" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold ">About</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    
    <!-- About Section -->
    <div class="container mx-auto px-4 py-8">
        <div class="hero bg-base-200 rounded-lg shadow-xl">
            <div class="hero-content flex-col lg:flex-row">
                <img src="https://pbs.twimg.com/media/GHvfeXXa8AAi5yM?format=jpg&name=4096x4096" class="max-w-sm rounded-lg shadow-2xl" alt="About Me">
                <div>
                    <h1 class="text-5xl font-bold">About Me</h1>
                    <p class="py-6">
                        The meal that makes me happy is fried chicken and sprite. I love listening to music, and the genre I follow and 
                        listen to the most is k-pop. My top 4 k-pop groups are BTS, SEVENTEEN, TOMORROW X TOGETHER, and ENHYPEN, all 
                        are boy groups. I love drawing, pencil sketching, and doing calligraphy. Currently, I'm enrolled into CPP 
                        (Computer Programming), which is a 2-year (4 semester) diploma program, at Seneca College (Newnham Campus), and 
                        I'm already in my third semester. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
